@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}





body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'Pretendard', 'Noto Sans KR';
    background-color: #f5f5f5;
    color: #222222;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

#header,
#main,
#footer {
    width: 100%;
}





/* header */
#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .left {
    display: flex;
    gap: 60px;
}

#header .inner .left .logo {
    width: 200px;
}

#header .inner .left .logo img {
    width: 100%;
    object-fit: cover;
}

#header .inner .left .menu-1 {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

#header .inner .left .menu-1 li:hover {
    color: #25AC76;
    font-weight: 600;
}

#header .inner .right {
    display: flex;
    gap: 40px;
}

#header .inner .right .menu-2 {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

#header .inner .right .menu-2 li>a:hover {
    color: #25AC76;
    font-weight: 600;
}

#header .inner .right .icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

#header .inner .right .icon img {
    width: 100%;
    object-fit: cover;
}










/* main */
#main {
    margin-top: 200px;
}

#main .inner {
    max-width: 1520px;
    padding: 0;
}

#main .inner .main-visual {
    display: none;
}

#main .inner .main-visual img {}

#main .inner .card-banner {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

#main .inner .card-banner li:first-child {
    width: 723px;
    height: 70px;
    padding-left: 40px;
    line-height: 70px;
    background-color: #001EFF;
    color: #fff;
}

#main .inner .card-banner li {
    width: 723px;
    height: 70px;
    padding-left: 40px;
    line-height: 70px;
    background-color: #00A8A5;
    color: #fff;
}

#main .inner .sale {
    margin-top: 100px;
}

#main .inner .sale .list {
    display: flex;
    justify-content: space-between;
}

#main .inner .sale .list .item {
    width: 456px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#main .inner .sale .list .item .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main .inner .sale .list .item .top img {
    width: 100%;
    object-fit: cover;
}

#main .inner .sale .list .item .top strong {
    font-size: 20px;
    color: #222222;
    line-height: 1.5;
    padding-bottom: 30px;
    border-bottom: 1px solid #9d9d9d;
}

#main .inner .sale .list .item .bottom {
    display: flex;
    justify-content: space-between;
}

#main .inner .sale .list .item .bottom a>img {
    width: 66px;
    object-fit: cover;
}

#main .inner .sale .list .item .bottom .text {
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
}

#main .inner .sale .list .item .bottom .text p {
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}

#main .inner .sale .list .item .bottom .text ul {
    display: flex;
    gap: 5px;
    align-items: center;
}

#main .inner .sale .list .item .bottom .text ul h3 {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}

#main .inner .sale .list .item .bottom .text ul h4 {
    font-size: 14px;
    font-weight: 500;
    color: #ff0000;
}

#main .inner .sale .list .item .bottom .text ul h5 {
    font-size: 14px;
    font-weight: 500;
    color: #9d9d9d;
    text-decoration: line-through;
}

#main .inner .sale .list .item .bottom .icon img {
    width: 25px;
    object-fit: cover;
}

#main .inner .best {
    margin-top: 200px;
    margin-bottom: 200px;
}

#main .inner .best h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

#main .inner .best .list {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px;
}

#main .inner .best .list .item {
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#main .inner .best .list .item img {
    width: 100%;
    object-fit: cover;
}

#main .inner .best .list .item .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.5;
}

#main .inner .best .list .item .text p {
    font-size: 16px;
    font-weight: 500;
    color: #303030;
}

#main .inner .best .list .item .text ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

#main .inner .best .list .item .text ul h3 {
    font-size: 20px;
    font-weight: bold;
    color: #222222;
}

#main .inner .best .list .item .text ul h4 {
    font-size: 18px;
    font-weight: 500;
    color: #ff0000;
}

#main .inner .best .list .item .text ul h5 {
    font-size: 14px;
    font-weight: 500;
    color: #9d9d9d;
    text-decoration: line-through;
}

#main .inner .best .list .item span {
    font-size: 14px;
    font-weight: 500;
    color: #303030;
}




#main .inner .event {
    display: none;
}

#main .inner .event .list {}

#main .inner .event .list .item {}

#main .inner .event .list .item img {}




#main .inner .recommend {
    margin-top: 200px;
}

#main .inner .recommend h1 {
    margin-bottom: 100px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

#main .inner .recommend .list {
    display: flex;
    justify-content: space-between;
}

#main .inner .recommend .list .item {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#main .inner .recommend .list .item img {
    width: 100%;
    object-fit: cover;
}

#main .inner .recommend .list .item .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main .inner .recommend .list .item .text p {
    font-size: 16px;
    line-height: 1.5;
}

#main .inner .recommend .list .item .text ul {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 1.5;
}

#main .inner .recommend .list .item .text ul h3 {
    font-size: 20px;
    font-weight: bold;
    color: #222222;
}

#main .inner .recommend .list .item .text ul h4 {
    font-size: 18px;
    font-weight: 500;
    color: #ff0000;
}

#main .inner .recommend .list .item .text ul h5 {
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    color: #9d9d9d;
}

#main .inner .recommend .list .item .tag {
    display: flex;
    gap: 10px;
}

#main .inner .recommend .list .item .tag li {
    display: inline-block;
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #25AC76;
    background-color: #EDFFF8;
}

#main .inner .recommend .list .item span {
    font-size: 14px;
    font-weight: 500;
    color: #303030;
}

#main .inner .ai {
    margin-top: 200px;
    height: 120px;
    line-height: 120px;
    border-radius: 20px;
    background-color: #00A260;
    text-align: center;
    color: #fff;
}

#main .inner .ai ul {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

#main .inner .ai ul p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

#main .inner .ai ul a {
    display: block;
    width: 197px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    background-color: #004126;
}








/* footer */
#footer {
    margin-top: 200px;
}

#footer .inner {
    font-size: 13px;
    line-height: 1.5;
}

#footer .inner span {
    color: #9d9d9d;
}

#footer .inner .top {
    margin-bottom: 70px;
    padding: 40px 0;
    border-top: solid 1px #9d9d9d;
    border-bottom: solid 1px #9d9d9d;
    display: flex;
    gap: 24px;
    color: #9d9d9d;
}

#footer .inner .top li:nth-child(2) {
    color: #222222;
}

#footer .inner .top li:hover {
    color: #25AC76;
    font-weight: 500;
}

#footer .inner .bottom {
    display: flex;
    justify-content: space-between;
}

#footer .inner .bottom .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#footer .inner .bottom .left .logo {
    width: 200px;
    opacity: 50%;
}

#footer .inner .bottom .left .logo img {
    width: 100%;
    object-fit: cover;
}

#footer .inner .bottom .left .text-1 {
    font-weight: 300;
    color: #9d9d9d;
}

#footer .inner .bottom .left .text-1 li {
    display: flex;
    gap: 10px;
}

#footer .inner .bottom .left .text-1 li>p>a:hover {
    color: #25AC76;
    text-decoration: underline;
}

#footer .inner .bottom .left .text-2 {
    font-weight: 500;
    color: #9d9d9d;
}

#footer .inner .bottom .left .text-2 li {
    display: flex;
}

#footer .inner .bottom .left .text-2 li p:first-child {
    color: #222222;
}

#footer .inner .bottom .left .text-2 li:nth-child(2) {
    color: #5b5b5b;
    text-decoration: underline;
}

#footer .inner .bottom .right {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

#footer .inner .bottom .right .call {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#footer .inner .bottom .right .call strong {
    font-size: 14px;
    font-weight: bold;
    color: #5b5b5b;
}

#footer .inner .bottom .right .call ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

#footer .inner .bottom .right .call ul h2 {
    font-size: 24px;
    font-weight: bold;
    color: #5b5b5b;
}

#footer .inner .bottom .right .call ul p {
    font-size: 12px;
    font-weight: 500;
    color: #5b5b5b;
}

#footer .inner .bottom .right .time {
    display: flex;
    flex-direction: column;
}

#footer .inner .bottom .right .time p {
    font-size: 13px;
    color: #9d9d9d;
}

#footer .inner .bottom .right .btn a {
    display: inline-flex;
    padding: 10px 14px;
    background-color: #5b5b5b;
    color: #fff;
}