@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

body {
    margin: 50px 100px 100px;
    font-family: 'Pretendard', 'Noto Sans KR';
    background-color: #f5f5f5;
    color: #222222;
}

#header {
    margin: 0 auto;
    width: 1720px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .left {
    display: flex;
    gap: 60px;
}

#header .inner .left .logo {
    width: 200px;
}

#header .inner .left .logo img {
    width: 100%;
    object-fit: cover;
}

#header .inner .left .menu-1 {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

#header .inner .left .menu-1 li:hover {
    color: #25AC76;
    font-weight: 600;
}

#header .inner .right {
    display: flex;
    gap: 40px;
}

#header .inner .right .menu-2 {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

#header .inner .right .menu-2 li>a:hover {
    color: #25AC76;
    font-weight: 600;
}

#header .inner .right .icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

#header .inner .right .icon img {
    width: 100%;
    object-fit: cover;
}



/* main */
#main {
    margin-top: 200px;
}

#main .inner {}

#main .inner .main-visual {
    width: 1920px;
    margin: 0 auto;
}

#main .inner .main-visual img {
    width: 100%;
    object-fit: cover;
}

#main .inner .card-banner {}

#main .inner .sale {}

#main .inner .sale .list {}

#main .inner .sale .list .item {}

/* footer */
#footer {
    margin: 0 auto;
    margin-top: 200px;
    width: 1720px;
}

#footer .inner {
    font-size: 13px;
    line-height: 1.5;
}

#footer .inner span {
    color: #9d9d9d;
}

#footer .inner .top {
    margin-bottom: 70px;
    padding: 40px 0;
    border-top: solid 1px #9d9d9d;
    border-bottom: solid 1px #9d9d9d;
    display: flex;
    gap: 24px;
    color: #9d9d9d;
}

#footer .inner .top li:nth-child(2) {
    color: #222222;
}

#footer .inner .top li:hover {
    color: #25AC76;
    font-weight: 500;
}

#footer .inner .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#footer .inner .left .logo {
    width: 200px;
    opacity: 50%;
}

#footer .inner .left .logo img {
    width: 100%;
    object-fit: cover;
}

#footer .inner .left .text-1 {
    font-weight: 300;
    color: #9d9d9d;
}

#footer .inner .left .text-1 li {
    display: flex;
    gap: 10px;
}

#footer .inner .left .text-1 li>p>a:hover {
    color: #25AC76;
    text-decoration: underline;
}

#footer .inner .left .text-2 {
    font-weight: 500;
    color: #9d9d9d;
}

#footer .inner .left .text-2 li {
    display: flex;
}

#footer .inner .left .text-2 li p:first-child {
    color: #222222;
}

#footer .inner .left .text-2 li:nth-child(2) {
    color: #5b5b5b;
    text-decoration: underline;
}

#footer .inner .right {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

#footer .inner .right .call {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#footer .inner .right .call strong {
    font-size: 14px;
    font-weight: bold;
    color: #5b5b5b;
}

#footer .inner .right .call ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

#footer .inner .right .call ul h2 {
    font-size: 24px;
    font-weight: bold;
    color: #5b5b5b;
}

#footer .inner .right .call ul p {
    font-size: 12px;
    font-weight: 500;
    color: #5b5b5b;
}

#footer .inner .right .time {
    display: flex;
    flex-direction: column;
}

#footer .inner .right .time p {
    font-size: 13px;
    color: #9d9d9d;
}

#footer .inner .right .btn a {
    display: inline-flex;
    padding: 10px 14px;
    background-color: #5b5b5b;
    color: #fff;
}